.vscode/**
.vscode-test/**
# include built extension output (out/extension.js) in package; exclude tests instead
# out/**
ui/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
